# Predicting stock prices with Autogluon project

In [48]:
# Parameters
ticker = 'AAPL'
forecast_months = 10
lookback_months = 30

In [3]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from ipywidgets import IntSlider, FloatSlider, Checkbox, Dropdown

style = {"description_width": "initial"}

@interact_manual(
    p_forecast_months=IntSlider(min=1, max=100, value=10, style=style),
    p_lookback_months=IntSlider(min=3, max=300, value=30, style=style),
    p_ticker=Dropdown(options=['AAPL', 'GLD'])
)
def set_params(p_forecast_months, p_lookback_months, p_ticker):
    global ticker
    global forecast_months
    global lookback_months
    ticker = p_ticker
    forecast_months = p_forecast_months
    lookback_months = p_lookback_months

interactive(children=(IntSlider(value=10, description='p_forecast_months', min=1, style=SliderStyle(descriptio…

In [53]:
import time
import datetime
from dateutil.relativedelta import relativedelta
import pandas as pd
import os
import boto3

def get_data_df(ticker, period1, period2, suffix=''):
    int_period1 = int(time.mktime(period1.timetuple()))
    int_period2 = int(time.mktime(period2.timetuple()))
    interval = '1d' # 1d, 1m    
    url = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={int_period1}&period2={int_period2}&interval={interval}&events=history&includeAdjustedClose=true'
    df = pd.read_csv(url)
    df = df.rename(columns={'Adj Close': 'Adj_Close'})
    return df

def save_and_upload(df_train, df_test):
    str_time = datetime.datetime.now().strftime('%Y-%m-%d-%H-%M-%S-%f')
    filename_prefix = f'{ticker}-f{forecast_months}-b{lookback_months}-{str_time}'
    #filename_prefix = f'{ticker}_{period3.strftime("%Y-%m-%d")}_f{forecast_months}_b{lookback_months}'    
    
    train_filename = f'{filename_prefix}_train.csv'
    test_filename = f'{filename_prefix}_test.csv'
    train_local_path = f'./{train_filename}'
    test_local_path = f'./{test_filename}'
    
    df_train.to_csv(train_filename, index=False)
    df_test.to_csv(test_filename, index=False)
    
    s3 = boto3.client('s3')
    bucket = 'edgarin-prj-stock-prediction-uw2'

    s3.upload_file(train_local_path, bucket, f'data/{train_filename}')
    s3.upload_file(test_local_path, bucket, f'data/{test_filename}')
    
    os.remove(train_local_path)
    os.remove(test_local_path)
    
    return filename_prefix

def gather_data(ticker, forecast_months, lookback_months, limit_date = None):
    # Let's calculate 3 milestones. Today, the forecast date (for example a month back) and the lookback date (for example 3 months back)
    period3 = limit_date if limit_date is not None else datetime.date.today() # Use datetime.datetime(2020, 12, 1, 23, 59) for a specific day

    period2 = period3 - relativedelta(months=forecast_months) # Alternative: datetime.timedelta(days=forecast_months * 30)
    period1 = period2 - relativedelta(months=lookback_months) # Alternative: datetime.timedelta(days=lookback_months * 30)
    
    df_train = get_data_df(ticker, period1, period2)
    df_test = get_data_df(ticker, period2, period3)

    training_job_name = save_and_upload(df_train, df_test)
    
    return training_job_name

In [55]:
gather_data(ticker, forecast_months, lookback_months)

'AAPL-f10-b30-2022-02-20-04-11-13-688429'

In [55]:
df_train

,Date,Open,High,Low,Close,target,Volume
0,2018-10-18,54.465000,54.935001,53.250000,54.005001,52.178070,130325200
1,2018-10-19,54.514999,55.314999,54.357498,54.827499,52.972733,132314800
2,2018-10-22,54.947498,55.840000,54.735001,55.162498,53.296410,115168400
3,2018-10-23,53.957500,55.812500,53.674999,55.682499,53.798817,155071200
4,2018-10-24,55.650002,56.057499,53.634998,53.772499,51.953430,163702000
...,...,...,...,...,...,...,...
622,2021-04-12,132.520004,132.850006,130.630005,131.240005,130.464600,91420000
623,2021-04-13,132.440002,134.660004,131.929993,134.429993,133.635727,91266500
624,2021-04-14,134.940002,135.000000,131.660004,132.029999,131.249924,87222800
625,2021-04-15,133.820007,135.000000,133.639999,134.500000,133.705307,89347100
626,2021-04-16,134.300003,134.669998,133.279999,134.160004,133.367355,84922400

In [22]:
df_test

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-04-19,133.509995,135.470001,133.339996,134.839996,134.043320,94264200
1,2021-04-20,135.020004,135.529999,131.809998,133.110001,132.323547,94812300
2,2021-04-21,132.360001,133.750000,131.300003,133.500000,132.711227,68847100
3,2021-04-22,133.039993,134.149994,131.410004,131.940002,131.160461,84566500
4,2021-04-23,132.160004,135.119995,132.160004,134.320007,133.526382,78657500
...,...,...,...,...,...,...,...
207,2022-02-10,174.139999,175.479996,171.550003,172.119995,172.119995,90865900
208,2022-02-11,172.330002,173.080002,168.039993,168.639999,168.639999,98566000
209,2022-02-14,167.369995,169.580002,166.559998,168.880005,168.880005,86062800
210,2022-02-15,170.970001,172.949997,170.250000,172.789993,172.789993,64286300
211,2022-02-16,171.850006,173.339996,170.050003,172.550003,172.550003,61067300

In [56]:
import boto3
s3 = boto3.resource('s3')

def get_s3_file_content(key):
    bucket = 'edgarin-prj-stock-prediction-uw2'
    csv_object = s3.Object(bucket, key)
    return csv_object.get()['Body'].read().decode('utf-8')    

def read_results(training_job_name):
    #csv_object = s3.Object(bucket, f'results/{training_job_name}/AAPL-f10_test_predictions.csv')    
    prefix = f'results/{training_job_name}/results'
    # print(prefix)
    predictions = get_s3_file_content(f'{prefix}_test_predictions.csv')
    fit_summary = get_s3_file_content(f'{prefix}_fit_summary.txt')
    leaderboard = get_s3_file_content(f'{prefix}_leaderboard.csv')    
    model_performance = get_s3_file_content(f'{prefix}_model_performance.txt')        
    #from io import StringIO
    #df = pd.read_csv(StringIO(content))
    return predictions, fit_summary, leaderboard, model_performance

In [59]:
training_job_name = 'AAPL-f10-b30-2022-02-20-04-11-13-688429'
predictions, fit_summary, leaderboard, model_performance = read_results(training_job_name)
print(predictions)

True,Predicted
132.323532,132.40031
132.711227,132.41559
131.160446,131.15169
133.526398,133.21661
133.924042,133.84695
133.59596299999998,133.7063
132.79075600000002,132.81955
132.69134499999998,132.89024
130.683289,130.65808
131.756897,131.63023
127.094612,127.39765
127.34314,127.60857
128.973465,128.84077
129.660553,129.6167
126.314705,126.09537
125.378685,125.07718
122.251923,122.07181
124.442642,124.345436
126.912178,126.52559
125.73716,125.36084
124.323143,124.3097
124.163834,123.72084
126.772766,126.403595
124.900703,124.727356
126.563652,126.12645
126.364502,125.9727
126.314705,125.88548
124.751335,124.64348
124.08416,124.03655
123.755554,123.61707
124.532257,124.26208
123.018684,122.94005
125.358765,125.094025
125.368721,125.09769
126.20517,125.81853
126.593529,126.19222
125.577835,125.371056
126.812599,126.46367
129.929382,129.52779
129.092926,129.07797
129.600784,129.37845
131.233856,130.87552
129.90948500000002,129.89873
131.741699,131.01955
133.414612,132.74883
133.135803,132.79121
132.847046,132.60583
132.548294,132.30663
134.21125800000002,133.97643
135.7547,135.33055
136.38206499999998,135.98155
136.69073500000002,136.07698
139.3694,137.87343
141.4207,139.54257
143.959946,141.20749
142.635559,140.78284
144.49765,141.0964
143.890228,141.19104
145.025421,141.22684
148.520599,141.17763
147.853424,141.20221
145.772247,141.19136
141.84887700000004,140.8276
145.533249,141.18895
144.78642299999996,141.19017
146.180527,141.19104
147.933075,141.19017
148.36128200000005,141.19017
146.15065,141.21385
144.36821,141.1971
145.025421,141.19017
145.24449199999995,141.19017
144.90593,141.19017
146.738174,141.19017
146.329895,141.19017
146.439423,141.19017
145.741333,141.19017
145.691467,141.19017
145.20282,141.19017
145.46211200000005,141.19017
148.48384099999996,141.19017
148.693268,141.19017
150.707748,141.21385
149.780304,141.19136
145.960739,141.19136
146.29981999999995,141.19136
147.785751,141.19017
149.30162,141.19017
149.211838,141.19017
147.955276,141.19017
147.137527,141.19017
148.194641,141.19017
152.70228600000004,141.19136
151.415817,141.19136
152.093964,141.19136
153.23085,141.19017
153.879089,141.19017
156.262573,141.19136
154.686874,141.19017
153.649719,141.19017
148.563614,141.22247
149.142044,141.22575
147.715927,141.2
148.623459,141.19136
148.384094,141.19017
145.66156,141.19872
142.550064,141.13979
143.038727,141.19179
145.452133,141.19104
146.429459,141.19017
146.519211,141.19017
144.97345,141.19017
141.522888,140.67163
142.440369,140.8941
141.113998,140.61101
142.260849,140.11974
138.76043700000002,138.77495
140.725067,138.66692
141.61264,138.79707
142.899109,141.12877
142.510162,141.11285
142.420425,140.88428
141.123962,140.37387
140.52560400000002,138.79619
143.367828,140.85324
144.444885,141.19017
146.150223,141.16846
148.35418700000002,141.19104
148.852829,141.19017
149.072235,141.19017
148.284393,141.19017
148.234528,141.19017
148.912674,141.19017
148.443954,141.19017
152.153809,141.22684
149.391357,141.17763
148.55365,141.19017
149.610764,141.19017
151.076752,141.19017
150.548187,141.19017
151.087509,141.19017
150.248581,141.19017
150.618103,141.19017
147.731781,141.19017
147.681839,141.19017
149.799149,141.19017
149.80912800000004,141.19017
150.807861,141.19017
153.294693,141.19136
157.66911299999995,141.22296
160.345718,141.19759
160.815109,141.19759
161.20462,141.21138
161.733948,141.19017
156.610474,141.19104
160.036102,141.19136
165.089676,141.24268
164.560349,141.24417
163.55162,141.22565
161.634064,141.19759
165.10965,141.2
170.962173,141.17587
174.857224,141.19759
174.337875,141.2
179.22166399999998,141.19806
175.51638799999995,141.24417
174.10818500000005,141.22247
179.071854,141.21362
172.040802,141.24417
170.922241,141.24268
169.533997,141.2
172.769882,141.19136
175.416504,141.19136
176.055695,141.19017
180.10054,141.19017
179.061859,141.19136
179.151749,141.19017
177.973251,141.19017
177.344055,141.19017
181.778397,141.21385
179.471344,141.22684
174.697418,141.19136
171.781143,141.22849
171.950928,141.19136
171.970901,141.20221
174.857224,141.19104
175.30664099999996,141.19017
171.970901,141.19136
172.84979199999995,141.19136
169.583939,141.19136
166.01847800000004,141.19136
164.300659,141.19136
162.203354,141.17812
161.41433700000005,141.24268
159.57669099999995,141.19806
159.486801,141.2
159.01741,141.17368
170.11326599999995,141.24268
174.557602,141.19806
174.38781699999996,141.19136
175.61625700000005,141.19136
172.679993,141.19136
172.389999,141.19136
171.660004,141.19104
174.830002,141.19017
176.279999,141.19017
172.119995,141.19136
168.639999,141.22684
168.880005,141.19136
172.78999299999995,141.19017
172.550003,141.19017
168.880005,141.19017
167.300003,141.19136

'1'